In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
# 파이썬 모듈을 이용한 csv 파일 처리
import csv
dir(csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'register_dialect',
 'unix_dialect',
 'unregister_dialect',
 'writer']

In [12]:
file = csv.reader('../../data/emp.csv')
file # 객체로 출력
type(file)

_csv.reader

In [22]:
file = csv.reader('../../data/emp.csv')

In [20]:
# 전체 내용을 출력
# 파일의 내용을 한 행 씩 리스트 객체에 담아서 출력
for emp_list in file:
    print(emp_list)

['.']
['.']
['/']
['.']
['.']
['/']
['d']
['a']
['t']
['a']
['/']
['e']
['m']
['p']
['.']
['c']
['s']
['v']

In [18]:
for emp_list in file:
    print(emp_list[0])

.
.
/
.
.
/
d
a
t
a
/
e
m
p
.
c
s
v

In [23]:
for emp_list in file:
    print(emp_list[1])

IndexError: list index out of range

In [30]:
file = open('../../data/emp.csv')
emp_csv = csv.reader(file)
print(emp_csv)

<_csv.reader object at 0x0000013EBF090D00>

In [25]:
for emp_list in emp_csv:
    print(emp_list)

['empno', 'ename', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'deptno']
['7839', 'KING', 'PRESIDENT', '', '1981-11-17 0:00', '5000', '', '10']
['7698', 'BLAKE', 'MANAGER', '7839', '1981-05-01 0:00', '2850', '', '30']
['7782', 'CLARK', 'MANAGER', '7839', '1981-05-09 0:00', '2450', '', '10']
['7566', 'JONES', 'MANAGER', '7839', '1981-04-01 0:00', '2975', '', '20']
['7654', 'MARTIN', 'SALESMAN', '7698', '1981-09-10 0:00', '1250', '1400', '30']
['7499', 'ALLEN', 'SALESMAN', '7698', '1981-02-11 0:00', '1600', '300', '30']
['7844', 'TURNER', 'SALESMAN', '7698', '1981-08-21 0:00', '1500', '0', '30']
['7900', 'JAMES', 'CLERK', '7698', '1981-12-11 0:00', '950', '', '30']
['7521', 'WARD', 'SALESMAN', '7698', '1981-02-23 0:00', '1250', '500', '30']
['7902', 'FORD', 'ANALYST', '7566', '1981-12-11 0:00', '3000', '', '20']
['7369', 'SMITH', 'CLERK', '7902', '1980-12-09 0:00', '800', '', '20']
['7788', 'SCOTT', 'ANALYST', '7566', '1982-12-22 0:00', '3000', '', '20']
['7876', 'ADAMS', 'CLERK', '7788', '1983-01-15 0:00', '1100', '', '20']
['7934', 'MILLER', 'CLERK', '7782', '1982-01-11 0:00', '1300', '', '10']

In [56]:
file = open('../../data/emp.csv')
emp_csv = csv.reader(file)
# print(emp_csv)
# for emp_list in emp_csv:
#     print(emp_list[0], emp_list[5])
# for emp_list in emp_csv:
#     print(emp_list)



# 연봉 출력
flag = True
for emp_list in emp_csv:
    if flag:
        print(emp_list[0], emp_list[5])
        flag = False
    else:
        print(emp_list[0], int(emp_list[5]) * 12)

empno sal
7839 60000
7698 34200
7782 29400
7566 35700
7654 15000
7499 19200
7844 18000
7900 11400
7521 15000
7902 36000
7369 9600
7788 36000
7876 13200
7934 15600